html{
	scroll-behavior:smooth;
}
*{
	margin:0;
	padding:0;
	font-family: 'Vidaloka' , 'Amiri', serif ;
} 
body
{
	margin:0;
	background-color:#e6e6ff;
	display:center , flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}
.goto{
	position:fixed;
	width:50px;
	height:50px;
	background:#5c5c8a;
	bottom:40px;
	border-radius:50%;
	right:50px;
	
	
	text-decoration: none;
	border-box:box-sizing;
	text-align:center;
	line-height:50px;
	color:white;
	font-size:22px;
}
.goto i{
	line-height:50px;
}
#warp{
	margin:0;
	align:center;
}
.header{
    width: 100%;
    background-color:#c2d6d6;
    color: #fff;
    height: 110px;
}
.header h3{
	padding:0;
	line-height:3px;
    font-family: "Thabit" , serif;
    font-size: 20;
    font-weight: normal;
	color:#fff;
}
#logo {
    height: 100%;
	float:right;
}
.header >ul{
    position:absolute;
    float: right;
    width: 100%;
	height: 20px;
    margin: 0;
    list-style-type: none;
    font: right;
    padding: 0;
    display: flex;
	border-radius:60px;
}
.header >ul >li{
    list-style: none;
    float: right;
    display: block;
}
.header >ul >li >a{
    text-decoration: none;
    padding: 0.3px;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}
.header-item{
    font-family: 'Amiri', serif;
    display: inline-block;
    padding-top: -20px;
	padding-right:10px;
	padding-left:10px;
    color: black;
    text-decoration: none;
}
ul li a .icon{
    width: 50px;
    height: 50px;
	padding: 0.5%;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 10px;
}
ul li a .icon .fa{
    width: 100%;
    height: 100%;
    line-height: 50px;
    font-size: 25px;
    transition: 4s;
    color:white;
}
ul li a:hover .icon .fa{
	transform:translateY(30%);
    color:#008080;
}
/*---------------Styly sub-----------------------*/
.sub-content{
    position: absolute;
    top: 100px;
    overflow: hidden;
   /* background-color: white;*/
    max-height: 0;
    border-radius: 20px;
}

.sub-content a{
    color: black;
    text-decoration: none;
    
}

.sub-drop{
    padding: 0;
}

.sub-drop ul{
    width: 100%;
	height:50px;
	padding:0;
    margin: 0;
    list-style-type: none;
}

.sub-drop ul li a{
    display: inline-block;
    padding: 10px;
}

.sub-drop ul li:hover{
    background-color:rgba(190, 230, 240, 0.990);
}

/*----------------controling---------------*/
.header-item:focus{
    background-color: rgba(182, 210, 228, 0.979);
}

.header ul li:hover .sub-content{
    max-height: 400px;
    transition: max-height 1s ease-in;
}
/*----------------background---------------*/
.at {
	background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('../images/so.jpg');
	background-position:cover 2px;
	background-size: 90%;
	background-repeat:no-repeat;
	padding:40px;
	padding-top:60px;
	height:210px;
	width:1606;
}
.at h1{
	position:bottom;
	margin-top:40px;
	color:#00004d;
	font-family:Luminari, fantasy;
	font-size: 50px;
}
.at p{
	text-align:center-right;
	color:  #003329;
	font-family:serif;
	font-size: 22px;
}
.sfr{
	margin:330px 0 0;
	margin-bottom:-230px;
	position:relative ;
	display:inline-block;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	width:500px;
	height:500px;
	background:#000;
	overflow:hidden;
}
.du{
	height:100%;
	width:100%;
}
.du img{
	width:100%;
	transition:.5s;
}
.sfr:hover .du img{
	transform:rotate(-10deg) scale(1.3);
	opacity:.5;
}
.caption{
	position:absolute;
	top:40px;
	left:40px;
	right:40px;
	bottom:40px;
	height:420px;
	/*background:#fff;*/
}
.about{
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	z-index:1;
	padding:20px;
	text-align:right;
	transition:.5s;
	color:#fff;
	opacity:0;
}
.sfr:hover .about{
	opacity:1;
}
.about h2{
	margin:0;
	padding:0;
	font-size:35px;
	text-transform:uppercase;
}
.about p{
	margin:20px 0 0;
	padding:0;
	font-size:22px;
}
.caption:before{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-top:1px solid #fff;
	border-bottom:1px solid #fff;
	box-sizing:border-box;
	transition:.5s;
	transform:scale(0,1);
}
.sfr:hover .caption:before{
   transform:scale(1,1);
}
.caption:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	box-sizing:border-box;
	transition:.5s;
	transform:scale(1,0);
}
.sfr:hover .caption:after{
   transform:scale(1,1);
}
.fog{
	display:flex;
	width:100%;
	padding: 2% 2%;
	box-sizing:border-box;
	height:100vh;
}
.box{
	flex:1;
	overflow:hidden;
	position:relative; 
	margin:0 2%;
    /*box-shadow: 0px 10px 20px rgba(0,0,0,0.5);*/
	line-height:0;
	align-items:flex-end;
}
.fog .box > img{
	width:200%;
	height: calc(100% - 10vh);
	object-fit:cover;
	top:0;
	left:0;
	transition:0.5s all;
}

.box:hover{
	flex:1 1 50%;
	transform:translateY(15px);
}
.box:before{
	content:"";
	position: absolute;
	top:0;
	left:0;
	display:block;
	width:100%;
	height:100%;
	opacity:0;
}

.fog .box:hover img{
	width:100%;
	height:100%;
}
.box .info{
	position:relative;
	z-index:2;
	color:#fff;
	opacity:0;
	transform:translateY(30px);
	transition:0.5s all;
}
.box .
.box: hover .info{
	opacity:1;
	transform:translateY(20px);
}
.over{
	display:inline-block;
	font-size:20px;
	padding-top:-20px;
	padding-bottom:50px;
}
.over span{
	border:3px #b3cccc;
	background: #c1d7d7;
	border-radius:30px;
	border-style:inset;
	box-sizing:border-box;
	margin-right:110px;
	margin-left:130px;
	padding:10px;
}
.over a:link{
	text-decoration:none;
}
.over a:visited{
	text-decoration:none;
}
.over a:hover{
	text-decoration:underline;
}
.over span:hover{
	box-shadow:0 2px 5px rgba(0,0,0,.5);
	opacity:8;
}
/*----------------fotter---------------*/
#sub-div
{
    padding: 0;
	margin:0;
    background-position:bottom;
}
.footer{
	padding-top:30px;
	height:300px;
	padding-bottom:10px;
    background-color: rgb(206, 218, 235);
    text-align: center;
}
.footer h1{
	font-size:50px;
    font-family: 'Lemonada', cursive;
    color : #30336b ;
}
.footer h4{
    color : #30336b ;
    font-size: 20px;
}

.Social-buttons {
    list-style-type: none;
}
.Social-buttons li{
    display: inline-block;
    margin: 0.15em;
    position: relative;
    font-size: 1.2em;
}
.Social-buttons i{
    color: #fff;
    position: absolute;
    top: 21px;
    left: 21px;
    transition: all 0.5s ease-out;
}
.Social-buttons{
    display: inline-block;
}
.Social-buttons a::before{
    transform: scale(1);
    content: "";
    width: 60px;
    height: 60px;
    border-right: 100%;
    display: block;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    border-radius:50%;
}
.Social-buttons a:hover::before{
    transform: scale(0);
    transition: all 0.5s ease-in;
}
.Social-buttons a:hover i{
    transform: scale(2.2);
    color: #22a6b3;
    background: linear-gradient(45deg,#22a6b3,#30336b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s ease-in;
}